ui           = {{ vault['ui'] | bool | lower }}
api_addr     = "http://{{ ansible_default_ipv4['address'] }}:8200"
cluster_addr = "http://{{ ansible_default_ipv4['address'] }}:8201"
pid_file     = "{{ base_dir['pid'] }}/{{ bin_name['vault'] }}/{{ bin_name['vault'] }}.pid"

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
}

telemetry {
  statsite_address = "0.0.0.0:8125"
}
{% if vault['storage'] == "consul" %}

storage "consul" {
  address = "127.0.0.1:8500"
  path = "{{ bin_name['vault'] }}/"
}
{% else %}

storage "file" {
  path = "{{ base_dir_data }}/{{ bin_name['vault'] }}"
}
{% endif %}
