ui           = {{ vault_ui_enabled | default(true) | bool | lower }}
api_addr     = "http://{{ ansible_default_ipv4['address'] }}:8200"
cluster_addr = "http://{{ ansible_default_ipv4['address'] }}:8201"

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = {{ vault_tls_disabled | default(false) | bool | lower }}
}
{% if consul_enabled %}
storage "consul" {
  address = "{{ consul_address | default('127.0.0.1:8500') }}"
  path = "vault"
}
{% else %}
storage "file" {
  path = "{{ os_dir_data }}/vault/data"
}
{% endif %}
{% if telemetry_enabled %}
telemetry {
  statsite_address = "{{ telemetry_address | default('127.0.0.1:8125') }}"
}
{% endif %}
