[Service]
RuntimeDirectory=vault
StateDirectory=vault
CacheDirectory=vault
LogsDirectory=vault
ConfigurationDirectory=vault.d
RuntimeDirectoryMode=0755
StateDirectoryMode=0755
CacheDirectoryMode=0755
LogsDirectoryMode=0755
ConfigurationDirectoryMode=0755
RuntimeDirectoryPreserve=no
