################################################################################
# {{ ansible_managed }}
################################################################################

ANSIBLE_VAULT_VERSION={{ version }}

if [ -d "{{ path.binaries }}" ] ; then
  PATH="$PATH:{{ path.binaries }}"
fi

################################################################################
# {{ ansible_managed }}
################################################################################
