[Unit]
Description="HashiCorp Vault"
Documentation=https://vault.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
User=vault
Group=vault
ExecStart={{ os_dir_binaries }}/vault server \
    -config {{ os_dir_config }}/vault.d/
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=3
StartLimitBurst=6
StartLimitInterval=9
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
